<footer>
    <div>
        <a href="https://www.linkedin.com/in/%C3%A1ngel-valent%C3%ADn-altieri-a319a0256/" target="_blank" aria-label="Ver mi Linkedin">
            <i class="bi bi-linkedin"></i>
        </a>

        <a href="https://github.com/angelvalentinn" target="_blank" aria-label="Ver mi Github">
            <i class="bi bi-github"></i>
        </a>
    </div>

    <p>Creado por <span>Ángel Valentín Altieri</span></p>
</footer>

<style>
    footer {
        border-top: 1px solid #dddddd0a;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            gap: 1rem;
            a {
                transition: .3s ease color;
                i {
                    font-size: 1.4rem;
                }
                &:hover {
                    color: var(--clr-primary);
                }
            }
        }

        p {
            span {
                color: var(--clr-primary);
            }
        }
    }
</style>