---

---

<section id="habilidades">
    <article>
        <h3>Habilidades</h3>
        <div class="container-skills">
            <div data-tooltip="HTML">
                <img loading="lazy" src="../../skills/html.webp" alt="Logo de HTML">
            </div>

            <div data-tooltip="CSS">
                <img loading="lazy" src="../../skills/css.webp" alt="Logo de CSS">
            </div>

            <div data-tooltip="SASS">
                <img loading="lazy" src="../../skills/sass.webp" alt="Logo de SASS">
            </div>

            <div data-tooltip="Tailwind">
                <img loading="lazy" src="../../skills/tailwind.webp" alt="Logo de Tailwind">
            </div>

            <div data-tooltip="JavaScript">
                <img loading="lazy" src="../../skills/js.webp" alt="Logo de Javascript">
            </div>

            <div data-tooltip="Astro">
                <img loading="lazy" src="../../skills/astro.webp" alt="Logo de Astro">
            </div>

            <div data-tooltip="React">
                <img loading="lazy" src="../../skills/react.webp" alt="Logo de React">
            </div>

            <div data-tooltip="Firebase">
                <img loading="lazy" src="../../skills/firebase.webp" alt="Logo de Firebase">
            </div>
            
        </div>
    </article>

    <article>
        <h3>Aprendiendo</h3>
        <div class="container-skills">
            <div data-tooltip="Node JS">
                <img loading="lazy" src="../../learning/nodejs.webp" alt="Logo de Node JS">
            </div>

            <div data-tooltip="Express">
                <img loading="lazy" src="../../learning/express.webp" alt="Logo de express JS">
            </div>

            <div data-tooltip="MongoDB">
                <img loading="lazy" src="../../learning/mongodb.webp" alt="Logo de MongoDB">
            </div>
            
        </div>
    </article>
</section>

<style>
    section {
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;

        article {
            
            h3 {
                font-size: 1.7rem;
                text-decoration: underline var(--clr-primary);
            }
            .container-skills {
                border: 1px solid #dddddd27;
                box-shadow: 0 0 10px 0 #ffffff2f;
                padding: 1rem;
                border-radius: 8px;
                margin-top: 1.3rem;
                display: grid;
                grid-template-columns: repeat(3, max-content);
                gap: .5rem;
                min-height: 300px;
                div {
                    width: 65px;
                    height: 65px;
                    position: relative;
                    cursor: pointer;
                    
                    &:hover {
                        filter: drop-shadow(0 0 10px #ffffff39);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover::before {
                        
                        transform: translateX(-50%) translateY(0rem);
                        animation: ida-y-vuelta .3s ease;

                    }

                    &::before {
                        content: attr(data-tooltip);
                        position: absolute;

                        top: -25px;
                        left: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: max-content;
                        padding: 0.5rem;
                        height: 6px;
                        font-size: 0.8rem;
                        text-wrap: nowrap;
                        background-color: var(--clr-secondary);
                        border: 1px solid var(--clr-white-text);
                        color: var(--clr-white-text);
                        border-radius: 6px;
                        transform: translateX(-50%) translateY(2rem);
                        transition: transform 0.3s ease;
                        
                        animation: ida-y-vuelta 2s ease-in-out infinite, salida-brusca .3s forwards;
                    }
                }
            }
        }
    }

    @keyframes ida-y-vuelta {
        0% { opacity: 0; }
        50% { opacity: .5; }
        100% { opacity: 1; }
    }

    @keyframes salida-brusca {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

    @media screen and (width > 800px) {
        section {
            gap: 9rem;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

        article {
            h3 {
                font-size: 2.1rem;
            }
            .container-skills {
                padding: 1.3rem;
                gap: 1rem;

                div {
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
    }
</style>